@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroylight.woff2") format("woff2"), url("../fonts/Gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroyextrabold.woff2") format("woff2"), url("../fonts/Gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100vw; }

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: black; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

h1 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 1.4;
  color: #FFFFFF; }

h2 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  color: #111111; }

h3 {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: right;
  color: #FFFFFF; }

header {
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px; }

section {
  width: 100%;
  height: auto; }

.main-page {
  background-color: #000000;
  position: relative; }
  .main-page .radial {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 61.98%, #000000 100%);
    z-index: 1; }
  .main-page .center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }

.block-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .block-video img, .block-video video {
    width: 100%;
    min-height: 100%;
    object-fit: cover; }

.container-fluid {
  padding: 0; }

nav .nav-link {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav .nav-link img {
    margin-left: 11px; }

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 102px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.08);
  border-radius: 100%; }
  .video-icon img {
    width: 30px;
    height: 30px;
    max-height: 23px;
    object-fit: contain;
    margin-left: 5px; }

.main-page__text-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 350px; }
  .main-page__text-block h3 {
    margin-bottom: 20px; }

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EA3410;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 280px;
  height: 56px; }

.end-block {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  margin-bottom: 50px; }
  .end-block__item {
    max-width: 280px;
    width: 30%; }
  .end-block__name {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    margin: 5px 0; }
  .end-block__description {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;
    width: 90%; }

.white-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: white;
  padding: 50px 2%;
  padding-right: 0;
  padding-bottom: 20px; }
  .white-block__text {
    display: flex;
    flex-direction: column; }
    .white-block__text .button-primary {
      margin-top: 40px; }
  .white-block .best-deal-carousel {
    width: 70%; }
    .white-block .best-deal-carousel .end-block__name, .white-block .best-deal-carousel .end-block__description {
      color: black; }
  .white-block h2 {
    margin-bottom: 20px; }

.carousel-nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 35px 0; }
  .carousel-nav-box .carousel-nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 100%; }
    .carousel-nav-box .carousel-nav__button.carousel-button-prev {
      margin-right: 15px; }

.what-course {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 218px;
  padding: 140px 0;
  padding-left: 40px;
  box-sizing: border-box; }
  .what-course__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 210px;
    margin-left: 3%; }
    .what-course__item p {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      margin: 20px 0; }

.caption-rotate {
  position: absolute;
  top: 70%;
  left: 0;
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  color: #FFFFFF;
  transform: rotate(-90deg) translateX(50%);
  white-space: nowrap;
  width: 40px; }

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 310px;
  max-width: 280px; }
  .img-wrapper img {
    width: 100%;
    min-height: 100%;
    object-fit: cover; }

.start-today {
  display: flex;
  justify-content: space-between; }
  .start-today .white-block__text {
    width: 48%;
    max-width: 440px; }
  .start-today .max-icon-box {
    width: 45%; }
    .start-today .max-icon-box-item {
      margin-bottom: 140px; }
    .start-today .max-icon-box .white-block__text {
      width: 100%;
      max-width: 350px;
      margin-top: 40px; }
      .start-today .max-icon-box .white-block__text p {
        font-size: 16px; }

strong {
  color: #EA3410;
  font-family: 'Gilroy-Bold', sans-serif; }

.keys-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .keys-block__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    max-width: 450px;
    height: 210px;
    margin: 30px 10px; }
    .keys-block__item img {
      width: 100%;
      min-height: 100%;
      object-fit: cover; }
    .keys-block__item .keys-block__cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.19); }
    .keys-block__item .keys-block__text {
      position: absolute;
      bottom: 35px;
      left: 20px;
      z-index: 2; }
      .keys-block__item .keys-block__text .keys-block__name {
        font-family: 'Gilroy-Bold', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 1.6;
        color: #FFFFFF; }
      .keys-block__item .keys-block__text .keys-block__description {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        color: #FFFFFF; }
    .keys-block__item .time-video {
      z-index: 2;
      position: absolute;
      right: 13px;
      bottom: 9px;
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      color: #FFFFFF; }
    .keys-block__item .play-icon {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 20px;
      transform: translateY(50%);
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EA3410; }
      .keys-block__item .play-icon svg {
        margin-left: 3px; }

.reviews-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .reviews-block .slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .reviews-block h2 {
    color: white;
    text-align: center;
    margin-bottom: 40px; }
  .reviews-block .reviews-nav-box {
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .reviews-block .slider-reviews {
    width: 100%;
    max-width: 690px;
    padding: 0 30px;
    margin-top: 20px; }
    .reviews-block .slider-reviews .reviews-text {
      font-family: 'Gilroy', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #FFFFFF; }
    .reviews-block .slider-reviews .reviews-author {
      margin-top: 10px;
      display: flex;
      align-items: center; }
      .reviews-block .slider-reviews .reviews-author .author-photo {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 10px; }
        .reviews-block .slider-reviews .reviews-author .author-photo img {
          width: 100%;
          min-height: 100%;
          object-fit: cover; }
      .reviews-block .slider-reviews .reviews-author .author-name {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 16px;
        line-height: 1;
        color: #EA3410;
        margin-right: 15px; }
      .reviews-block .slider-reviews .reviews-author .author-deal {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1;
        color: rgba(255, 255, 255, 0.6); }
  .reviews-block .slider-nav {
    width: 100%;
    max-width: 690px; }
    .reviews-block .slider-nav .slick-track {
      display: flex; }
    .reviews-block .slider-nav .slick-list {
      padding: 0 !important; }
    .reviews-block .slider-nav__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      position: relative;
      padding-top: 20px;
      margin-top: -10px;
      opacity: 0.2;
      transition: opacity 0.5s ease; }
      .reviews-block .slider-nav__item:hover, .reviews-block .slider-nav__item:focus {
        outline: none; }
      .reviews-block .slider-nav__item.slick-active.slick-current {
        opacity: 1; }
      .reviews-block .slider-nav__item.slick-active.slick-current:before {
        content: url("../img/tr.svg");
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: 10; }
      .reviews-block .slider-nav__item .item-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 200px; }

.progress-bar {
  width: calc(100% + 40px);
  height: 1px;
  background-color: white;
  margin-top: 20px; }

.ads-block {
  display: flex;
  background-color: black;
  padding: 50px 0 0 50px; }
  .ads-block .ads-block__text {
    display: flex;
    flex-direction: column; }
    .ads-block .ads-block__text h2, .ads-block .ads-block__text p {
      color: white; }
    .ads-block .ads-block__text .carousel-nav__button {
      background-color: #EA3410; }
  .ads-block .double-item .img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .ads-block .double-item .img-wrapper img {
      min-height: auto; }

.text-black {
  color: #111111; }

.bg-black {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.feedback-block {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 60px;
  transform: translateY(110px);
  box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.08); }
  .feedback-block p {
    max-width: 560px;
    text-align: center;
    margin: 20px 0 50px 0; }

.form-feedback {
  width: 100%;
  max-width: 560px; }
  .form-feedback .input-box {
    display: flex;
    justify-content: center;
    align-items: center; }
    .form-feedback .input-box input, .form-feedback .input-box button {
      width: 50%; }

input, button {
  height: 56px;
  border: none;
  outline: none;
  box-shadow: none; }

input {
  border: 1px solid #111111;
  padding: 10px;
  box-sizing: border-box; }

.form-group {
  display: block;
  margin-bottom: 15px; }

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer; }

.checkbox {
  margin-top: 15px; }

.checkbox label {
  position: relative;
  cursor: pointer;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center; }

.form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: #3D3D3D;
  border: none;
  border-radius: 1px;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px; }

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 6px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.white-padding {
  padding-bottom: 200px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .footer-body {
    display: flex;
    justify-content: space-between; }
  footer .left-column,
  footer .right-column {
    width: 50%;
    justify-content: flex-start; }
  footer .left-column .footer-item a {
    margin-right: 30px; }
  footer .right-column .footer-item a {
    margin-left: 30px; }
  footer .footer-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 0; }
    footer .footer-item a {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.6); }
  footer .right-column .footer-item {
    justify-content: flex-end; }

@media (max-width: 1201px) {
  .ads-block {
    padding-left: 0; }

  .progress-bar {
    width: 100%; }

  .white-padding {
    padding-top: 0;
    padding-left: 0; } }
@media (max-width: 991px) {
  .container, .container-md, .container-sm {
    max-width: 90%; }

  .white-block {
    width: 100%;
    max-width: 100%; }

  .white-block .best-deal-carousel,
  .ads-block .best-deal-carousel {
    width: 65%;
    margin-left: 5%; } }
@media (max-width: 768px) {
  .center-block {
    flex-direction: column;
    height: 60%; }
    .center-block h1, .center-block .main-page__text-block h3 {
      text-align: center; }
    .center-block .main-page__text-block {
      align-items: center;
      width: 100%; }

  .end-block {
    display: none; }

  .white-block .best-deal-carousel {
    width: 52%;
    margin-left: 8%; }

  .what-course {
    flex-wrap: wrap;
    justify-content: center; }
    .what-course .what-course__item {
      min-width: 210px; }

  .keys-block .keys-block__item {
    width: 70%; }

  .feedback-block {
    width: 120%;
    transform: translateX(-10%);
    box-shadow: none;
    min-width: 375px; }
    .feedback-block .text-black {
      text-align: center; }

  .bg-black {
    max-width: 100%; }

  .form-feedback .input-box {
    flex-direction: column;
    width: 100%; }
    .form-feedback .input-box input, .form-feedback .input-box button {
      width: 100%; }

  .checkbox label {
    align-items: flex-start; } }
@media (max-width: 640px) {
  .main-page .center-block {
    z-index: 4;
    height: 80%;
    margin-top: 60px; }
    .main-page .center-block h1 {
      font-size: 36px; }

  .block-video .video-icon {
    width: 56px;
    height: 56px; }
    .block-video .video-icon img {
      width: 14px; }

  .white-block {
    flex-direction: column; }
    .white-block .best-deal-carousel {
      width: 100%; }
    .white-block .white-block__text {
      width: 100%;
      margin-bottom: 30px; }
      .white-block .white-block__text h2 {
        width: 87%;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
        font-size: 24px; }
      .white-block .white-block__text .mobile-none, .white-block .white-block__text .carousel-nav-box {
        display: none; }

  .ads-block {
    flex-direction: column; }
    .ads-block .best-deal-carousel {
      width: 100%; }
    .ads-block .ads-block__text {
      width: 100%;
      margin-bottom: 30px; }
      .ads-block .ads-block__text h2 {
        width: 80%;
        text-align: center;
        margin: auto;
        margin-bottom: 20px; }
      .ads-block .ads-block__text p {
        text-align: center;
        margin: auto; }
      .ads-block .ads-block__text .carousel-nav-box {
        width: 100%;
        justify-content: space-between; }

  .what-course {
    padding: 20px 0;
    flex-direction: column; }
    .what-course .caption-rotate {
      position: static;
      transform: none;
      width: max-content;
      margin-bottom: 40px; }

  .start-today {
    flex-direction: column; }
    .start-today .white-block__text {
      align-items: center; }
      .start-today .white-block__text p {
        text-align: center; }
    .start-today .max-icon-box {
      margin-top: 60px;
      width: 100%; }
      .start-today .max-icon-box .max-icon-box-item {
        margin-bottom: 40px;
        max-width: 100%; }
        .start-today .max-icon-box .max-icon-box-item .white-block__text {
          align-items: flex-start; }
          .start-today .max-icon-box .max-icon-box-item .white-block__text h2, .start-today .max-icon-box .max-icon-box-item .white-block__text p {
            text-align: left;
            margin-left: 0; }

  .keys-block .keys-block__item {
    width: 100%; }

  .reviews-block .reviews-nav-box {
    top: 85px;
    transform: translate(-50%, 0); }
  .reviews-block .slider-reviews {
    padding: 0; }
  .reviews-block .slider-nav .slider-nav__item {
    margin-left: 40px;
    margin-right: 40px; }

  footer .header-top {
    justify-content: center;
    margin: 30px 0;
    height: max-content; }

  .footer-body {
    flex-direction: column;
    align-items: center; }
    .footer-body .left-column {
      display: flex;
      flex-direction: column-reverse; }
    .footer-body .left-column, .footer-body .right-column {
      width: 100%; }
      .footer-body .left-column .footer-item, .footer-body .right-column .footer-item {
        justify-content: center;
        margin: 20px 0; }
        .footer-body .left-column .footer-item a, .footer-body .right-column .footer-item a {
          margin: 0 20px; } }
@media (max-width: 480px) {
  .white-block .best-deal-carousel,
  .ads-block .best-deal-carousel {
    margin-left: 0; }

  .img-wrapper {
    max-width: 100%; }

  .white-block {
    padding-right: 15px; } }
/*@media (max-width: 1300px)*/

/*# sourceMappingURL=style.css.map */
