@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../fonts/Gilroylight.woff2') format('woff2'),
    url('../fonts/Gilroylight.woff') format('woff'),
    url('../fonts/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../fonts/Gilroyextrabold.woff2') format('woff2'),
    url('../fonts/Gilroyextrabold.woff') format('woff'),
    url('../fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    width: 100vw;
}
body {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #111111;
    background-color: black;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-size: 50px;
    line-height: 1.4;
    color: #FFFFFF;
}
h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    color: #111111;
}
h3 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    text-align: right;
    color: #FFFFFF;
}
.logo {
    display: flex;
    align-items: center;
}
.container {
    max-width: 80%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    transition: all 0.5s ease;
    &.active {
        background-color: black;
       .header-top {
           height: 90px;
       }
    }
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
    transition: all 0.5s ease;
}
section {
    width: 100%;
    height: auto;
}
.main-page {
    background-color: #000000;
    position: relative;
    .radial {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 61.98%, #000000 100%);
        z-index: 1;
    }
    .center-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1;
    }
}
.block-video  {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img, video {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}
.container-fluid {
    padding: 0;
}
nav {
    .nav-link {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-left: 11px;
        }
    }
}

.jquery-background-video-pauseplay {
    position: absolute;
    border: none;
    top: 50%!important;
    right: auto;
    left: 50%!important;
    padding: 0;
    cursor: pointer;
    outline: none !important;
    z-index: 10;
    background: rgba(255, 255, 255, 0.3)!important;
    box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.08)!important;
    border-radius: 100%;
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
.jquery-background-video-pauseplay span {
    display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.jquery-background-video-pauseplay.play:before {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 25px solid #111111;
    left: calc(50% + 4px)
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
    border-top: 20px solid #111111;
    border-bottom: 20px solid #111111;
    border-left: 10px solid #111111;
}
.jquery-background-video-pauseplay.pause:before{
    left: calc(50% - 10px);
}
.jquery-background-video-pauseplay.pause:after {
    left: calc(50% + 10px);
}
.main-page__text-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    max-width: 350px;
    h3 {
        margin-bottom: 20px;
    }
}
.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA3410;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 280px;
    height: 56px;
    transition: all 0.5s ease;
    &:hover {
        background-color: #D12E0E;
        color: white;
    }
    &:focus {
        background-color: #EA3410;
        border: 2px solid #111111;
    }
}
.end-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    margin-bottom: 50px;
    &__item {
        width: 30%;
        margin: 0 5px;
        overflow: hidden;
        .video-wrapper {
            width: 100%;
            height: 10vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-bottom: 20px;
            video {
                min-width: 100%;
                min-height: 100%;
            }
            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
    }
    &__name {
        font-family: 'Gilroy-Bold', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 1.6;
        color: #FFFFFF;
        margin: 5px 0;
    }
    &__description {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        color: #FFFFFF;
        width: 90%;
    }
}
.white-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    padding: 50px 2%;
    padding-right: 0;
    padding-bottom: 20px;
    &__text {
        display: flex;
        flex-direction: column;
        max-width: 370px;
        .button-primary {
            margin-top: 40px;
        }
    }
    .best-deal-carousel {
        width: 70%;
        .end-block__name, .end-block__description {
            color: black;
        }
        .best-deal-carousel__item {
            img {
                transition: all 0.5s ease;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

    }
    h2 {
        margin-bottom: 20px;
    }
}
.carousel-nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 35px 0;
    .carousel-nav__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: black;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            background-color: #D12E0E;
        }
        &.carousel-button-prev {
            margin-right: 15px;
        }
    }
}
.what-course {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 218px;
    padding: 140px 0;
    padding-left: 40px;
    box-sizing: border-box;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 210px;
        margin-left: 3%;
        p {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            margin: 20px 0;
        }
    }
}
.caption-rotate {
    position: absolute;
    top: 70%;
    left: 0;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    color: #FFFFFF;
    transform: rotate(-90deg) translateX(50%);
    white-space: nowrap;
    width: 40px;

}
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    margin-right: 20px;
    img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}
.start-today {
    display: flex;
    justify-content: space-between;
    position: relative;
    .white-block__text {
        width: 48%;
        max-width: 440px;
        transition: all 0.5s ease;
    }
    .max-icon-box {
        &-item {
            margin-bottom: 140px;
        }
        width: 45%;
        .white-block__text {
            width: 100%;
            max-width: 350px;
            margin-top: 40px;
            p {
                font-size: 16px;
            }
        }
    }
}
strong {
    color: #EA3410;
    font-family: 'Gilroy-Bold', sans-serif;
}
.keys-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        max-width: 520px;
        min-height: 210px;
        margin: 30px 10px;
        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
        .keys-block__cover {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.19);
        }
        .keys-block__text {
            position: absolute;
            bottom: 35px;
            left: 20px;
            z-index: 2;
            .keys-block__name {
                font-family: 'Gilroy-Bold', sans-serif;
                font-style: normal;
                font-size: 16px;
                line-height: 1.6;
                color: #FFFFFF;
            }
            .keys-block__description {
                font-family: 'Gilroy', sans-serif;
                font-style: normal;
                font-size: 16px;
                line-height: 1.2;
                color: #FFFFFF;
            }
        }
        .time-video {
            z-index: 2;
            position: absolute;
            right: 13px;
            bottom: 9px;
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-size: 16px;
            line-height: 1.2;
            color: #FFFFFF;
        }
        .play-icon {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 20px;
            transform: translateY(50%);
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EA3410;
            svg {
                margin-left: 3px;
            }
        }
    }
}

.reviews-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 120px;
    .slider-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    h2 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
    }
    .reviews-nav-box {
        width: 100%;
        max-width: 850px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        .carousel-nav__button {
            cursor: pointer;
        }
    }
    .slider-reviews {
        width: 100%;
        max-width: 690px;
        padding: 0 30px;
        margin-top: 20px;
        .reviews-text {
            font-family: 'Gilroy', sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #FFFFFF;
        }
        .reviews-author {
            margin-top: 10px;
            display: flex;
            align-items: center;
            .author-photo {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                overflow: hidden;
                margin-right: 10px;
                img {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
            .author-name {
                font-family: 'Gilroy-Bold', sans-serif;
                font-size: 16px;
                line-height: 1;
                color: #EA3410;
                margin-right: 15px;
            }
            .author-deal {
                font-family: 'Gilroy', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 1;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
    .slider-nav {
        width: 100%;
        max-width: 690px;
        .slick-track {
            display: flex;
        }
        .slick-list {
            padding: 0!important;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            position: relative;
            padding-top: 20px;
            margin-top: -10px;
            opacity: 0.2;
            transition: opacity 0.5s ease;
            &:hover, &:focus {
                outline: none;
            }
            &.slick-active.slick-current {
                opacity: 1;
            }
            &.slick-active.slick-current:before {
                content: url("../img/tr.svg");
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                z-index: 10;
            }
            .item-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 200px;
            }
        }
    }
}
.slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.progress-bar {
    width: calc(100% + 40px);
    height: 1px;
    background-color: white;
    margin-top: 20px;
}
.ads-block {
    display: flex;
    background-color: black;
    padding: 50px 0 0 50px;
    .ads-block__text {
        display: flex;
        flex-direction: column;
        max-width: 370px;
        h2, p {
            color: white;
        }
        .carousel-nav__button {
            background-color: #EA3410;
        }
    }
    .double-item .img-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
            min-height: auto;
            margin-bottom: 7%;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
}
.text-black {
    color: #111111;
}
.bg-black {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.feedback-block {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 60px;
    transform: translateY(110px);
    box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.08);
    p {
        max-width: 560px;
        text-align: center;
        margin: 20px 0 50px 0;
    }
}
.form-feedback {
    width: 100%;
    max-width: 560px;
    .input-box {
        display: flex;
        justify-content: center;
        align-items: center;
        input, button {
            width: 50%;
        }
    }
}
input, button {
    height: 56px;
    border: none;
    outline: none;
    box-shadow: none;
}
input {
    border: 1px solid #111111;
    padding: 10px;
    box-sizing: border-box;
}
.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.checkbox {
    margin-top: 15px;
}

.checkbox label {
    position: relative;
    cursor: pointer;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #3D3D3D;
    border: none;
    border-radius: 1px;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 6px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.white-padding {
    padding-bottom: 200px;
}
.modal.show .modal-dialog, .modal.fade .modal-dialog {
    transform: translate(-50%, -50%);
}
.modal .best-deal-modal-dialog {
    width: 90%;
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .modal-header {
        width: 100%;
        border: none;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gilroy-Bold', sans-serif;
        font-style: normal;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #111111;
        position: relative;
        .close {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            margin: 0;
        }
    }
}

.modal-end-block {
    position: static;
    transform: none;
    flex-wrap: wrap;
    .end-block__item {
        margin-bottom: 25px;
        .end-block__name, .end-block__description {
            color: black;
        }
    }
}


.video-page {
    margin-top: 150px;
    min-height: 80vh;
    .title {
        width: 100%;
        max-width: 854px;
        margin: 0 auto;
    }

    .caption {
        width: 100%;
        max-width: 854px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .vid-main-wrapper {
        width: 100%;
        height: max-content;
        min-height: 670px;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 16px;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
    }
    .main-video-block {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        h2 {
            font-size: 24px;
            margin: 16px 0;
        }
    }


    /*  VIDEO PLAYER CONTAINER
   ############################### */
    .vid-container {
        position: relative;
        min-height: 460px;
        width: 100%;
    }

    .vid-container iframe,
    .vid-container object,
    .vid-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 460px;
    }


    /*  VIDEOS PLAYLIST
     ############################### */
    .vid-list-container {
        position: relative;
        width: 30%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            height: 58%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .vid-list-container:hover, .vid-list-container:focus {
        overflow-y: auto;
    }

    ul#vid-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    ul#vid-list li {
        list-style: none;
        padding: 6px 12px;
        padding-right: 0;
        box-sizing: border-box;
        transition: all 0.5s ease;
    }
    ul#vid-list li:hover, ul#vid-list li:focus, ul#vid-list li.active {
        background-color: #EA3410;
        .desc {
            color: white;
        }
        .vid-thumb .time {
            background-color: #EA3410;
        }
    }

    ul#vid-list li a {
        text-decoration: none;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .vid-thumb {
        position: relative;
        height: 84px;
        width: 136px;
        min-width: 136px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
        .time {
            position: absolute;
            bottom: 6px;
            right: 0;
            padding: 3px 8px;
            background-color: #111111;
            font-family: 'Gilroy', sans-serif;
            font-size: 12px;
            color: #FFFFFF;
        }
    }

    .active-vid {
        background:#3A3A3A;
    }

    #vid-list .desc {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 14px;
        line-height: 1;
        color: #111111;
        display: flex;
        flex-direction: column;
        width: calc(100% - 136px );
        transition: all 0.5s ease;
        span {
            font-family: 'Gilroy', sans-serif;
            margin-top: 15px;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .video-description {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.44px;
        color: #111111;
        span {
            color: #A6ADAF;
        }
    }
    .link-document {
        display: flex;
        align-items: center;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 14px;
        line-height: 100%;
        color: #111111;
        margin: 20px 0;
        img {
            margin-right: 15px;
        }
    }

}
.wrap-div {
    width: 50%;
    .white-block__text {
        width: 100%;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-body {
        display: flex;
        justify-content: space-between;
    }
    .left-column,
    .right-column {
        width: 50%;
        justify-content: flex-start;
    }
    .left-column .footer-item a {
        margin-right: 30px;
    }
    .right-column .footer-item a {
        margin-left: 30px;
    }
    .footer-item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 40px 0;
        a {
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .right-column .footer-item {
        justify-content: flex-end;
    }
}

@media (max-width: 1201px) {
    .ads-block {
        padding-left: 0;
    }
    .progress-bar {
        width: 100%;
    }
    .white-padding {
        padding-top: 0;
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .container, .container-md, .container-sm {
        max-width: 90%;
    }
    .white-block {
        width: 100%;
        max-width: 100%;
    }
    .white-block .best-deal-carousel,
    .ads-block .best-deal-carousel {
        width: 65%;
        margin-left: 5%;
    }
}

@media (max-width: 768px) {
    .center-block {
        flex-direction: column;
        height: 60%;
        h1, .main-page__text-block h3 {
            text-align: center;
        }
        .main-page__text-block {
            align-items: center;
            width: 100%;
        }
    }
    .end-block {
        display: none;
    }
    .white-block {
        .best-deal-carousel {
            width: 52%;
            margin-left: 8%;
        }
    }
    .what-course {
        flex-wrap: wrap;
        justify-content: center;
        .what-course__item {
            min-width: 210px;
        }
    }
    .keys-block {
        .keys-block__item {
            width: 70%;
        }
    }
    .feedback-block {
        width: 120%;
        transform: translateX(-10%);
        box-shadow: none;
        min-width: 375px;
        .text-black {
            text-align: center;
        }
    }
    .bg-black {
        max-width: 100%;
    }
    .form-feedback {
        .input-box {
            flex-direction: column;
            width: 100%;
            input, button {
                width: 100%;
            }
        }
    }
    .checkbox label {
        align-items: flex-start;
    }
}


@media (max-width: 640px) {
    .main-page {
        .center-block {
            z-index: 4;
            height: 80%;
            margin-top: 60px;
            h1 {
                font-size: 36px;
            }
        }
    }
    .block-video {
        .video-icon {
            width: 56px;
            height: 56px;
            img {
                width: 14px;
            }
        }
    }
    .white-block {
        flex-direction: column;
        .best-deal-carousel {
            width: 100%;
        }
        .white-block__text {
            width: 100%;
            margin-bottom: 30px;
            h2 {
                width: 87%;
                text-align: center;
                margin: auto;
                margin-bottom: 20px;
                font-size: 24px;
            }

            .mobile-none, .carousel-nav-box {
                display: none;
            }
        }
    }
    .ads-block {
        flex-direction: column;
        .best-deal-carousel {
            width: 100%;
        }
        .ads-block__text {
            width: 100%;
            margin-bottom: 30px;
            h2 {
                width: 80%;
                text-align: center;
                margin: auto;
                margin-bottom: 20px;
            }
            p {
                text-align: center;
                margin: auto;
            }
             .carousel-nav-box {
                width: 100%;
                 justify-content: space-between;
            }
        }
    }
    .what-course {
        padding: 20px 0;
        flex-direction: column;
        .caption-rotate {
            position: static;
            transform: none;
            width: max-content;
            margin-bottom: 40px;
        }
    }
    .start-today {
        flex-direction: column;
        .white-block__text {
            align-items: center;
            p {
                text-align: center;
            }
        }
        .max-icon-box {
            margin-top: 60px;
            width: 100%;
            .max-icon-box-item {
                margin-bottom: 40px;
                max-width: 100%;
                .white-block__text {
                    align-items: flex-start;
                    h2, p {
                        text-align: left;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .keys-block {
        .keys-block__item {
            width: 100%;
        }
    }
    .reviews-block {
        .reviews-nav-box {
            top: 85px;
            transform: translate(-50%, 0);
        }
        .slider-reviews {
            padding: 0;
        }
        .slider-nav {
            .slider-nav__item {
                margin-left: 40px;
                margin-right: 40px;
            }
        }
    }
    footer {
        .header-top {
            justify-content: center;
            margin: 30px 0;
            height: max-content;
        }
    }
    .footer-body {
        flex-direction: column;
        align-items: center;
        .left-column {
            display: flex;
            flex-direction: column-reverse;
        }
        .left-column, .right-column {
            width: 100%;
            .footer-item {
                justify-content: center;
                margin: 20px 0;
                a {
                    margin: 0 20px;
                }
            }
        }
    }
    .logo-text {
        display: none;
    }
}
@media (max-width: 480px) {
    .white-block .best-deal-carousel,
    .ads-block .best-deal-carousel {
        margin-left: 0;
    }
    .img-wrapper {
        max-width: 100%;
    }
    .white-block {
        padding-right: 15px;
    }
}

/*@media (max-width: 1300px)*/

